<br>
<br>
<br>

<div class="row">
      <div class="tile">
       <% data.businesses.forEach(function(data) { %>
         <div class="col-xs-4">
           <p><%= data.name %></p>
           <p><img src='<%= data.image_url %>'></p>
           <p class="hideOnMediaQuery">Categories: <%= data.categories %></p>
           <p> <img src='<%= data.rating_img_url %>'>    <span class="hideOnMediaQuery">  <%= data.rating %> </span> </p>
           <p class="hideOnMediaQuery"><%= data.review_count %> Reviews</p>
           <p class="hideOnMediaQuery">Open now: <%= data.is_closed %></p>
         </div>
       <% }); %>
     </div>
</div>

<!--higher modal below  -->
<div class="modal fade" id="slide-bottom-popup-tall" data-keyboard="false" data-backdrop="false">
    <div id="modal-popup-tall" class="modal-body">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <p id="topModalText">A brief list description will go here. </p>
    </div>
</div>

<!-- lower modal below -->
<div class="modal fade" id="slide-bottom-popup-short" data-keyboard="false" data-backdrop="false">
    <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <p>Instructions about what to do will go here. Please tell Brian how you want me formatted with color; fonts and spacing. He's a really neat guy!</p>
    </div>
</div>
