<br>
<br>
<br>

<div class="row">
      <div class="tile">
       <% data.businesses.forEach(function(data) { %>
         <div class="col-xs-4">
           <p><%= data.name %></p>
           <p><img src='<%= data.image_url %>'></p>
           <p>Categories: <%= data.categories %></p>
           <p> <img src='<%= data.rating_img_url %>'>      <%= data.rating %> </p>
           <p><%= data.review_count %> Reviews</p>
           <p>Open now: <%= data.is_closed %></p>
         </div>
       <% }); %>
     </div>
</div>
